@keyframes moveUpFade {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-40%);
    opacity: 0;
  }
  50% {
    transform: translateY(-40%);
    opacity: 0;
  }
  75% {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-item {
  overflow: hidden;
  position: relative;
}

.nav-item a {
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-item:hover a {
  animation: moveUpFade 0.8s backwards;
}